/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-*


/vendor/bundle
/vendor/ruby/
/log/*
/tmp/*
/lib/arquivos_gerados/*

/shared/*

/config/database.yml
/config/initializers/*

/public/assets
/storage/*
