<% if @mostrar == 'codigo'%>
     <style>
       @media (min-width: 992px) {
         .modal-lg {
         width: 1100px;
         }
       }
     </style>
<% else %>
<% end %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel"><%= @mostrar == 'codigo' ? @funcao.nm_funcao : 'Documentação' %></h4>
</div>
<div class="overflow-auto">
<div class="modal-body">
  <pre style="white-space: pre-line;">
     <% if @mostrar=='codigo'%>
        <%= @funcao.codigo.gsub(" ", "&nbsp;").html_safe %>
     <% else %>
        <%= @funcao.documentacao %>
     <% end %>
     <%#= @mostrar=='codigo' ? @funcao.codigo.gsub(" ", "&nbsp;").html_safe : @funcao.documentacao %>
  </pre>
</div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
