<div style="display: inline-block; width: 48%;">
<%= 
   pie_chart Funcao.select('cd_componente')
                          .where("length(cd_componente) = 8 and cd_empresa = '1' and tipo in('entry', 'operation')")
                          .group(:cd_componente)
                          .limit(15)
                          .order('count(id) desc')
                          .count
    
%>
</div>