<div style="display: inline-block; width: 100%; border-style: solid; border-width:thin; border-color: #FFFFFF;">
  <h2><center>Total Componentes Atualizados/DIA</center></h2>

  <%= column_chart @tot_comps_por_dia %>

</div>