<div style="display: inline-block; width: 100%; border-style: solid; border-width:thin; border-color: #FFFFFF;">
   <h2><center>Total Linhas/Modelo</center></h2>

   <%= 
    puts "ENTROU GRAFICO"
    line_chart @tot_linhas_por_modelo 
    %>
</div>