<div style="display: inline-block; width: 100%; border-style: solid; border-width:thin; border-color: #FFFFFF;">
   <h2><center>Total Linhas por modelo</center></h2>

   <%= line_chart @tot_linhas_por_modelo %>
</div>