<div style="display: inline-block; width: 100%; border-style: solid; border-width:thin; border-color: #FFFFFF;">
   <h2><center> <%= "Total Linhas por Tipo - Total Geral #{sprintf('%.0f' % @total_linhas)}" %> </center></h2>
   
   <%= pie_chart @tot_linhas_por_tipo %>
</div>