<li><a href="/componentes">Analise Impacto</a></li>
<li  class="col-md-1"></li>
<li><a href="/funcaos">Funções</a></li>
<li class="col-md-1"></li>
<li><a href="/diffs/new">Compara Textos</a></li>
<li class="col-md-1"></li>
<li><a href="/painel">Dashboard</a></li>
<li class="col-md-1"></li>
<li><a href="https://documenter.getpostman.com/view/805287/SzzdBzuy?version=latest#49e36fc2-dfab-4f09-a7e2-f98427454c23" target="_blank">Docto Serviços</a></li>
